@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100&subset=latin,cyrillic-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);


/*---general----*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}


a, a:hover {
  color: black;
  text-decoration: none;
}


a,.category-group :hover {
   font-weight: bold;
}

.site-title {
    color: black;
}

.page-wrapper {
   height: 100%;
}

a.site-title:hover, a.site-title:active {
  color: black;
  text-decoration: none;
}


/*---header----*/


.shop-menu ul li a {
    background: #FFFFFF;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    padding-left: 0;
    padding-right: 15px;  
}

.shop-menu ul li a:hover {
    color:#4c6bcc;
    background:#fff;
}


.mainmenu ul li a {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    padding: 0;
    padding-bottom: 10px;
}

.mainmenu ul li a:hover, .mainmenu ul li a.active,  .shop-menu ul li a.active{
    background:none;
    color:#fdb45e;
}

/*----footer----*/

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
  background: #f2f2f2;
}
/*-----------*/

.item-container {
   width: 200px;
   height: 300px;
   font-size: 15px;
}

.item-image {
   width: 180px; 
   height: 230px;
}

.category-group {
   font-size: 5px;
}

#category-item {
  /* padding-top: 5px;
   padding-bottom: 5px;*/
}


.page-buffer { 
   margin-top: 30px;
}


